<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Movies and Reviews</title>
  </head>
  <style>
    .user {
      background-color: Tomato;
    }
    .movie {
      background-color: lightgreen;
      width: 100%;
    }
    table {
      width: 50%;
      border: "1";
    }
  </style>

  <body>
    <div style="float: right">
      User ID:
      <button class="user">{{id}}</button>
    </div>

    <h1>Movies</h1>
    <form action="/main/{{id}}" method="get">
      <button name="mov_order" value="">latest</button>
      <button name="mov_order" value="genre">genre</button>
      <button name="mov_order" value="avg_ratings">ratings</button>
    </form>
    <table border="1">
      <thead>
        <tr>
          <th>title</th>
          <th>ratings</th>
          <th>director</th>
          <th>genre</th>
          <th>release date</th>
        </tr>
      </thead>

      <tbody>
        {% for movie in movies %}
        <tr>
          <th><button class="movie">{{movie[0]}}</button></th>
          {% if movie[1] %}
          <th>{{movie[1]|round(1)}}</th>
          {% else %}
          <th>None</th>
          {% endif %}
          <th>{{movie[2]}}</th>
          <th>{{movie[3]}}</th>
          <th>{{movie[4]}}</th>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <h1>Reviews</h1>
    <button name="rev_order" value="">latest</button>
    <button name="rev_order" value="title">title</button>
    <button>followers</button>

    <table border="1">
      {% for review in reviews %}
      <tr>
        <th>{{review[0]}}</th>
        <th><button class="user">{{review[1]}}</button></th>
        <th><button class="movie">{{review[2]}}</button></th>
        <th>{{review[3]}}</th>
        <th>{{review[4].strftime("%Y-%m-%d %H:%M:%S")}}</th>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
